<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Productos para profesionales Sinergia"
		/>
		<meta
			name="keywords"
			content=" maquinas de corte, patillera, tijeras, secadoras, wahl, babyliss"
		/>
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/bootstrap.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
			integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
			crossorigin="anonymous"
		/>
		<title>Productos - Sinergia Academia</title>
	</head>

	<body class="bgProducto">
		<nav class="nav__fixed navbar navbar-expand-lg navbar-light bgPrimary">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index.html"
					><img
						src="/assets/img/logo.png"
						class="nav__logo ms-4"
						alt="logo"
				/></a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div
					class="collapse navbar-collapse"
					id="navbarSupportedContent"
				>
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a
								class="nav-link active fs-1 text-white ms-5"
								aria-current="page"
								href="/views/cursos.html"
								>Cursos</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link fs-1 text-white ms-5"
								href="/views/productos.html"
								>Productos</a
							>
						</li>

						<li class="nav-item">
							<a
								class="nav-link fs-1 text-white ms-5"
								href="/views/nosotros.html"
								>Nosotros</a
							>
						</li>

						<li class="nav-item">
							<a
								class="nav-link fs-1 text-white ms-5"
								href="/views/contacto.html"
								>Contactanos</a
							>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<main>
			<h1 class="text-center pt-5 producto__titulo">Tienda</h1>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 py-5">
						<div
							class="
								productos__checkbox
								p-3
								d-none d-xxl-block d-xl-block d-lg-block
							"
						>
							<h2 class="fw-bold text-center p-3 fs-1">
								Filtrar Resultados
							</h2>
							<h3 class="fw-bold fs-2">CATEGORIAS</h3>
							<div
								class="
									border-bottom border-warning border-3
									w-75
									pt-1
								"
							></div>
							<div class="d-flex flex-column">
								<label
									><input type="checkbox" />
									Maquinas
								</label>

								<label
									><input type="checkbox" />
									Patilleras
								</label>

								<label
									><input type="checkbox" />
									secadores
								</label>

								<label
									><input type="checkbox" />
									Planchitas
								</label>
								<label
									><input type="checkbox" />
									tijeras
								</label>
								<label
									><input type="checkbox" />
									peines
								</label>
								<label
									><input type="checkbox" />
									cepillos
								</label>
								<label
									><input type="checkbox" />
									navajas
								</label>
								<label
									><input type="checkbox" />
									tinturas
								</label>
								<label
									><input type="checkbox" />
									bandas
								</label>
								<label
									><input type="checkbox" />
									geles
								</label>
								<label
									><input type="checkbox" />
									ceras
								</label>
								<label
									><input type="checkbox" />
									oxidantes
								</label>
								<label
									><input type="checkbox" />
									Decolarante
								</label>
								<label
									><input type="checkbox" />
									Aluminio
								</label>
								<label
									><input type="checkbox" />
									bucleras
								</label>

								<h3 class="fw-bold pt-5 fs-2">Marca</h3>
								<div
									class="
										border-bottom border-warning border-3
										w-75
										pt-2
									"
								></div>

								<label class="pt-2"
									><input type="checkbox" />
									wahl
								</label>

								<label
									><input type="checkbox" />
									kemei
								</label>

								<label
									><input type="checkbox" />
									duga
								</label>

								<label
									><input type="checkbox" />
									vanta
								</label>
								<label
									><input type="checkbox" />
									b-Way
								</label>
								<label
									><input type="checkbox" />
									babyliss
								</label>
								<label
									><input type="checkbox" />
									kieper
								</label>
								<label
									><input type="checkbox" />
									dayo
								</label>
								<label
									><input type="checkbox" />
									suzika
								</label>
								<label
									><input type="checkbox" />
									progemei
								</label>
								<label
									><input type="checkbox" />
									vs-sasson
								</label>
								<label
									><input type="checkbox" />
									mundial
								</label>
								<label
									><input type="checkbox" />
									EuroStyle
								</label>
								<label
									><input type="checkbox" />
									Dovo
								</label>
								<label
									><input type="checkbox" />
									Salon-in
								</label>
								<label
									><input type="checkbox" />
									Docta
								</label>
							</div>
						</div>

						<div
							class="
								d-flex
								justify-content-center
								d-none d-xxl-block d-xl-block d-lg-block
							"
						>
							<div class="d-block">
								<input
									type="text"
									class="w-50 producto__button--input p-3"
								/>
								<button
									class="
										d-flex
										btn btn-warning
										fs-2
										justify-content-center
										my-2
									"
								>
									Buscar
								</button>
							</div>
						</div>
					</div>

					<div class="col-lg-8">
						<h2 class="py-5 fs-1 fw-bold">Busqueda:</h2>
						<div class="d-flex">
							<p class="fs-3">Ordernar Por</p>
							<select name="select" class="ms-3 p-1 fs-3">
								<option value="value1">
									Precio mas Bajo a más alto
								</option>
								<option value="value2" selected>
									Precio mas alto a más bajo
								</option>
								<option value="value3">Mayor Descuento</option>
								<option value="value4">lo mas vendido</option>
								<option value="value5" selected>
									alfabeticamente
								</option>
								<option value="value6">combos</option>
							</select>
						</div>

						<div class="row py-5">
							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/wahlSenior.jpg"
										alt="MaquinaSenior"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Wahl 5 Star Senior Cordless 8504-400
										negra 220V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$27.500
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/wahlMagiClip.jpg"
										alt="Maquina Magi Clip"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Wahl 5 Star Magic Clip Cordless 8148
										roja 220V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$17.900
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/legends.jpg"
										alt="Maquina Legends"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Wahl 5 Star Legend 8147 plateada y roja
										220V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$16.900
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/wahlSuperTaper.jpg"
										alt="Maquina Super taper"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Wahl Professional Super Taper blanca
										220V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$11.500
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/vanta.jpg"
										alt="Maquina vanta"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Vanta Premium Label Professional
										plateada 220V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$10.500
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/duga.jpg"
										alt="Maquina Duga"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Maquina De Corte Corta Pelo Duga
										Profesional
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$5.300
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/b-way.jpg"
										alt="Maquina b-way"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Wahl Professional B-way blanca 220V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$4.500
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/babylissFx.jpg"
										alt="patillera babyliss"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Trimmer Patillera Fade Gold Fx Babyliss
										Pro Cuchilla T
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$20.500
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/detailer.jpg"
										alt="patillera detailer"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Wahl 5 Star Cordless Detailer Li
										110V/220V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$11.500
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/kemeidetailer.jpg"
										alt="patillera detailer kemei"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Trimmer Kemei KM-1971 100V/240V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$7.900
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/70years.png"
										alt="patillera kemei  70years"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Trimmer Kemei KM-1949 plateada 110V/240V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$9.900
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/1974b.jpg"
										alt="patillera kemei buda"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Trimmer Kemei KM-1974A Buda dorada
										110V/240V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$7.500
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/dugapatillera.jpg"
										alt="patillera duga"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Maquina Para Corte Pelo Barbería
										Peluquería D406
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$5.300
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/kiepe.jpg"
										alt="tijera kiepe"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Tijera Para Peluquería Kiepe Laser
										Microdentada 6.5
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$5.900
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/tijeraVanta.jpg"
										alt="tijera vanta"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Vanta Premium Tijera Corte Microdentada
										5.0
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$4.300
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/dayoMicrodentada.jpg"
										alt="tijera dayo"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Tijera Microdentada Dayo Blue Titanium
										5,5
									</p>

									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$3.500
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/dayoAnimalPrint.jpg"
										alt="tijera dayo animalPrint"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Tijera De Corte Dayo Animal Print Filo
										Navaja 5,5
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$2.500
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/inicianteTijera.jpg"
										alt="tijera iniciante"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Tijera de Pulir Iniciantes pulgada 6
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$650
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/suzika.jpg"
										alt="plancha suzika"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Planchita de pelo Suzika SZ-PL049 220V -
										240V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$3.900
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/planchaDuga.jpg"
										alt="plancha duga"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Planchita de pelo Duga D207 negra 220V
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$3.900
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/vantamini.jpg"
										alt="secadora vanta"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Vanta 3800 Mini Compact Secador
										Profesional 1800w
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$4.850
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div class="row">
									<div
										class="
											bg-white
											border border-dark border-5
										"
									>
										<img
											src="../assets/img/teknikproBlack.jpg"
											alt="secador black and white"
											class="img-fluid"
										/>
										<p
											class="
												productos__info
												text-center
												py-1
											"
										>
											Secador Pelo Black And White Extreme
											5000
										</p>
										<p
											class="
												fw-bold
												producto__precio
												text-center
											"
										>
											$4.500
										</p>
										<div
											class="
												d-flex
												justify-content-center
											"
										>
											<button
												class="
													btn btn-warning
													w-75
													my-4
													p-2
													fs-2
												"
											>
												Comprar
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/teknipro2800.jpg"
										alt="secador teknipro 2800"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Secador Profesional Altro 2800 Teknikpro
										Con Difusor
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$3.900
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6 p-3">
								<div
									class="bg-white border border-dark border-5"
								>
									<img
										src="../assets/img/secadorKemei.jfif"
										alt="tijera iniciante"
										class="img-fluid"
									/>
									<p class="productos__info text-center py-1">
										Secador De Pelo Profesional Kemei
										Km-3322
									</p>
									<p
										class="
											fw-bold
											producto__precio
											text-center
										"
									>
										$2.700
									</p>
									<div class="d-flex justify-content-center">
										<button
											class="
												btn btn-warning
												w-75
												my-4
												p-2
												fs-2
											"
										>
											Comprar
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="bg-dark">
			<div class="footer__secondary py-3 container-fluid">
				<div class="row d-flex text-center fs-1">
					<div class="col-lg-3">
						<a href="/index.html" class="text-decoration-none"
							>Home</a
						>
					</div>
					<div class="col-lg-2">
						<a
							href="/views/cursos.html"
							class="text-decoration-none"
							>Cursos</a
						>
					</div>
					<div class="col-lg-2">
						<a
							href="/views/productos.html"
							class="text-decoration-none"
							>Productos</a
						>
					</div>
					<div class="col-lg-2">
						<a
							href="/views/nosotros.html"
							class="text-decoration-none"
							>Nosotros</a
						>
					</div>
					<div class="col-lg-2">
						<a
							href="/views/contacto.html"
							class="text-decoration-none"
							>Contacto</a
						>
					</div>
				</div>
			</div>

			<div class="container text-white py-5">
				<div class="row">
					<div class="col-lg-3">
						<h3 class="fs-1 pt-5">CONTACTATE</h3>
						<div class="py-4">
							<div class="d-flex">
								<i
									class="
										py-2
										fs-1
										fab
										fa-whatsapp
										text-success
									"
								></i>
								<p class="ms-3 py-2 fs-2">+54 911 349 582</p>
							</div>
							<div class="d-flex">
								<i class="fas fa-phone py-2 fs-1"></i>
								<p class="ms-3 py-2 fs-2">+54 011 329 581</p>
							</div>

							<div class="d-flex">
								<i class="far fa-envelope py-2 fs-1"> </i>
								<p class="ms-3 py-2 fs-2">
									sinergiasr@gmail.com
								</p>
							</div>
							<div class="d-flex">
								<i class="fas fa-map-marker-alt fs-1 py-2"> </i>
								<p class="ms-3 py-2 fs-4">
									Coronel Campos 46, San Rafael, Mendoza
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<h3 class="pt-5 pb-3 fs-1">Inscripciones Abiertas</h3>
						<a href="/views/cursos.html"
							><button class="btn btn-warning w-50 p-3 fs-2">
								Inscribite
							</button></a
						>

						<h3 class="fs-1 pt-5 pb-4">SOCIAL</h3>
						<a href="https://www.facebook.com/"
							><i
								class="
									fab
									fa-facebook-f
									bg-white
									rounded-circle
									text-dark
									p-3
								"
							></i
						></a>
						<a href="https://www.twitter.com/"
							><i
								class="
									fab
									fa-twitter
									bg-white
									rounded-circle
									text-dark
									p-3
									ms-4
								"
							></i
						></a>
						<a href="https://www.instagram.com/"
							><i
								class="
									fab
									fa-instagram
									bg-white
									rounded-circle
									text-dark
									p-3
									ms-4
								"
							></i
						></a>
					</div>
					<div class="col-lg-3">
						<h3 class="pt-5 fs-1 pb-2">ALUMNOS</h3>
						<a
							href="/views/contacto.html"
							class="text-decoration-none"
							><p class="fs-3 text-white opacity-50">
								Atencion al Alumno
							</p></a
						>

						<h3 class="pt-5 fs-1 pb-2">Profesionales</h3>
						<a
							href="/views/contacto.html"
							class="text-decoration-none"
							><p class="fs-3 text-white opacity-50">
								Trabaja con Nosotros
							</p></a
						>
					</div>
					<div class="col-lg-3">
						<h3 class="pt-5 fs-1 pb-4">
							TE MANTENDREMOS INFORMADO
						</h3>
						<input
							type="text"
							placeholder="ingresa tu email"
							class="p-4 w-100 fs-3"
						/>
						<button class="my-4 w-50 p-4 bg-white fs-3">
							Suscribite
						</button>
					</div>
				</div>
			</div>
		</footer>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
			crossorigin="anonymous"
		></script>
	</body>
</html>
