/************ERROR 404*****************/

.imgError {
	background-image: url(/assets/img/404.png);
	height: 100vh;
}

.moverBoton {
	padding-top: 72rem;
	padding-left: 46vw;
}

.buttonError {
	color: white;
	font-size: 2rem;
	background-color: #000000;
	padding: 2rem 4rem;
	border-radius: 1rem;
}
