footer {
	.footer__secondary {
		background-color: $secundaryColor;
		height: 10vh;

		.footer__text {
			border-left: solid 3px $primaryColor;
			height: 8vh;
			margin-left: 50%;
		}
	}

	div {
		div {
			div {
				i {
					font-size: 1.7rem;
				}
			}
		}
	}
}
