footer {
	.footer__secondary {
		background-color: $secundaryColor;
	}

	div {
		div {
			div {
				a {
					color: white;
					&:hover {
						color: yellow;
					}
				}
				i {
					font-size: 1.7rem;
				}
			}
		}
	}
}
