/**********HEADER***********/

.header__img {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('/assets/img/banner.jpg');
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;

	.header__logo {
		width: 40vw;

		@media only screen and (min-width: 1200px) {
			width: 22vw;
		}
	}

	.header__title {
		font-size: 4rem;

		@media only screen and (min-width: 768px) {
			font-size: 7rem;
		}
	}
}

.header__container {
	margin-top: 13rem;

	.header__borde {
		height: 45vh;
		border: solid 5px $secundaryColor;
		border-radius: 2rem;
	}
}

.line {
	border: solid 3px $secundaryColor;
}

/*************SECTION************/
.section__padding {
	padding: 11rem 5rem;
	border: solid 6px $secundaryColor;

	.nosotros__title {
		font-size: 5rem;
		font-weight: bold;
	}

	.section__margin {
		margin-left: 10rem;
	}

	.section__border {
		border: solid 7px $secundaryColor;
	}
}

.section__container {
	padding-top: 10rem;
}

/***************Cursos****************/

.cursos__title {
	font-size: 4rem;
}

.cursos__icon {
	font-size: 8rem;
}

.cursos__title-icon {
	font-size: 2rem;
}

.cursos__coalix {
	margin-left: 2rem;
	width: 18rem;
	height: 6rem;
}

.cursos__container-button {
	text-align: center;
	margin-top: 5rem;
	padding-bottom: 5rem;
	.cursos__button {
		color: $secundaryColor;
		border: solid 2px black;
		border-radius: 2rem;
		width: 70%;
		font-size: 3rem;
		height: 15vh;
	}
}

/************* Producto **************/
.imgProducto {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
		url(../img/Barberia.png);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.producto__title {
		font-size: 2rem;
		color: whitesmoke;
		background-color: rgba(0, 0, 0, 0.7);
		text-align: center;

		@media only screen and (min-width: 768px) {
			font-size: 4rem;
		}

		@media only screen and (min-width: 1200px) {
			font-size: 6rem;
		}
	}

	.producto__button {
		width: 75%;

		@media only screen and (min-width: 1200px) {
			width: 50%;
		}
	}
}
