.bgProducto {
	background-color: #efe8df;

	.producto__titulo {
		font-size: 6rem;
		font-weight: bold;
		padding-top: 10rem;

		@media only screen and (min-width: 1200px) {
			padding-top: 3rem;
		}
	}

	.productos__checkbox {
		display: flex;
		flex-direction: column;
		font-size: 1.6rem;
		text-transform: capitalize;
	}

	.productos__info {
		font-size: 2rem;

		@media only screen and (min-width: 768px) {
			.productos__info {
				font-size: 2.7rem;
			}

			@media only screen and (min-width: 1200px) {
				.productos__info {
					font-size: 2rem;
				}
			}
		}
	}

	.producto__precio {
		font-size: 2.5rem;

		@media only screen and (min-width: 768px) {
			.producto__precio {
				font-size: 3rem;
				@media only screen and (min-width: 1200px) {
					.producto__precio {
						font-size: 3rem;
					}
				}
			}
		}
	}
}
