@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&family=Open+Sans:ital,wght@0,400;1,300&display=swap");
@import 'https://fonts.googleapis.com/css?family=Inconsolata';
h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif; }

p {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 6rem; }

/**********HEADER***********/
.header__img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/banner.jpg");
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center; }
  .header__img .header__logo {
    width: 40vw; }
    @media only screen and (min-width: 1200px) {
      .header__img .header__logo {
        width: 22vw; } }
  .header__img .header__title {
    font-size: 4rem; }
    @media only screen and (min-width: 768px) {
      .header__img .header__title {
        font-size: 7rem; } }

.header__container {
  margin-top: 13rem; }
  .header__container .header__borde {
    height: 45vh;
    border: solid 5px #d7cc75;
    border-radius: 2rem; }

.line {
  border: solid 3px #d7cc75; }

/*************SECTION************/
.section__padding {
  padding: 11rem 5rem;
  border: solid 6px #d7cc75; }
  .section__padding .nosotros__title {
    font-size: 5rem;
    font-weight: bold; }
  .section__padding .section__margin {
    margin-left: 10rem; }
  .section__padding .section__border {
    border: solid 7px #d7cc75; }

.section__container {
  padding-top: 10rem; }

/***************Cursos****************/
.cursos__title {
  font-size: 4rem; }

.cursos__icon {
  font-size: 8rem; }

.cursos__title-icon {
  font-size: 2rem; }

.cursos__coalix {
  margin-left: 2rem;
  width: 18rem;
  height: 6rem; }

.cursos__container-button {
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 5rem; }
  .cursos__container-button .cursos__button {
    color: #d7cc75;
    border: solid 2px black;
    border-radius: 2rem;
    width: 70%;
    font-size: 3rem;
    height: 15vh; }

/************* Producto **************/
.imgProducto {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../img/Barberia.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .imgProducto .producto__title {
    font-size: 2rem;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .imgProducto .producto__title {
        font-size: 4rem; } }
    @media only screen and (min-width: 1200px) {
      .imgProducto .producto__title {
        font-size: 6rem; } }
  .imgProducto .producto__button {
    width: 75%; }
    @media only screen and (min-width: 1200px) {
      .imgProducto .producto__button {
        width: 50%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.bgPrimary {
  background-color: #36363d; }

.bgSecundary {
  background-color: #d7cc75; }

.colorPrimary {
  color: #36363d; }

.colorSecundary {
  color: #d7cc75; }

.colorTertiary {
  color: whitesmoke; }

.bgTertiary {
  background-color: whitesmoke; }

nav {
  position: fixed !important;
  width: 100%;
  z-index: 100; }
  @media only screen and (min-width: 1200px) {
    nav {
      position: static !important; } }
  nav .nav__logo {
    width: 10rem; }

footer .footer__secondary {
  background-color: #d7cc75; }

footer div div div a {
  color: white; }
  footer div div div a:hover {
    color: yellow; }

footer div div div i {
  font-size: 1.7rem; }

.imgContacto {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../img//fondoForm.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  margin-bottom: 2rem;
  background-position: center;
  background-color: linear; }
  .imgContacto .contacto__title {
    font-size: 6rem;
    color: white; }

html {
  min-height: 100%; }

.bodyError {
  box-sizing: border-box;
  height: 100%;
  background-color: #000000;
  background-image: radial-gradient(#11581e, #041607), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgba(128, 255, 128, 0.8);
  text-shadow: 0 0 1ex #33ff33, 0 0 2px rgba(255, 255, 255, 0.8); }

.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.02; }

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 1; }

.overlay::before {
  content: '';
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, transparent 0%, rgba(32, 128, 32, 0.2) 2%, rgba(32, 128, 32, 0.8) 3%, rgba(32, 128, 32, 0.2) 3%, transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite; }

@keyframes scan {
  0% {
    background-position: 0 -100vh; }
  35%,
  100% {
    background-position: 0 100vh; } }

.terminal {
  box-sizing: inherit;
  position: absolute;
  height: 100%;
  width: 1000px;
  max-width: 100%;
  padding: 4rem;
  text-transform: uppercase; }

.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow: 0 0 1px rgba(51, 255, 51, 0.4), 0 0 2px rgba(255, 255, 255, 0.8); }

.output::before {
  content: '> '; }

div p a {
  color: #fff;
  text-decoration: none; }

div p a::before {
  content: '['; }

div p a::after {
  content: ']'; }

.errorcode {
  color: white; }

.bgProducto {
  background-color: #efe8df; }
  .bgProducto .producto__titulo {
    font-size: 6rem;
    font-weight: bold; }
  .bgProducto .productos__checkbox {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    text-transform: capitalize; }
  .bgProducto .productos__info {
    font-size: 2rem; }
    @media only screen and (min-width: 768px) {
      .bgProducto .productos__info .productos__info {
        font-size: 2.7rem; } }

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .bgProducto .productos__info .productos__info {
    font-size: 2rem; } }
  .bgProducto .producto__precio {
    font-size: 2.5rem; }
    @media only screen and (min-width: 768px) {
      .bgProducto .producto__precio .producto__precio {
        font-size: 3rem; } }
  @media only screen and (min-width: 768px) and (min-width: 1200px) {
    .bgProducto .producto__precio .producto__precio .producto__precio {
      font-size: 3rem; } }

.nosotros__banner {
  background: url(/assets/img/nosotrosBanner.jpg);
  height: 60vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.nosotros__name--directora {
  width: 100vw;
  padding-top: 2rem;
  font-size: 4rem;
  color: #d7cc75; }
  @media only screen and (min-width: 1200px) {
    .nosotros__name--directora {
      margin-left: 4rem;
      font-size: 6rem; } }

.nosotros__info {
  font-size: 1.6rem;
  padding: 2rem 1rem;
  line-height: 2.2rem;
  margin-top: 3rem; }
  @media only screen and (min-width: 768px) {
    .nosotros__info {
      font-size: 2.2rem;
      line-height: 1.6; } }
  @media only screen and (min-width: 1200px) {
    .nosotros__info {
      margin-left: 4rem; } }

.nosotros__profesores {
  font-size: 7rem;
  font-weight: bold;
  padding-bottom: 3rem; }

.cursos__banner {
  background: url("/assets/img/quienesSomos.jpg");
  height: 60vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.cursos__container {
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .cursos__container .cursos__font {
    margin-bottom: 8rem;
    background-color: white;
    color: #36363d;
    text-align: center;
    margin-top: -8rem; }
    @media only screen and (min-width: 768px) {
      .cursos__container .cursos__font {
        width: 50vw; } }
  @media only screen and (min-width: 768px) and (min-width: 1200px) {
    .cursos__container .cursos__font {
      width: 30vw; } }
    .cursos__container .cursos__font .cursos__font--title {
      font-size: 2.2rem;
      letter-spacing: 1rem; }
      @media only screen and (min-width: 768px) {
        .cursos__container .cursos__font .cursos__font--title {
          font-size: 3rem;
          letter-spacing: 1.2rem; } }
  @media only screen and (min-width: 768px) and (min-width: 1200px) {
    .cursos__container .cursos__font .cursos__font--title {
      font-size: 4rem; } }
    .cursos__container .cursos__font .cursos__font--parrafo {
      font-size: 1.2rem; }
      @media only screen and (min-width: 768px) {
        .cursos__container .cursos__font .cursos__font--parrafo {
          font-size: 1.5rem; } }
  @media only screen and (min-width: 768px) and (min-width: 1200px) {
    .cursos__container .cursos__font .cursos__font--parrafo {
      font-size: 1.7rem; } }

body {
  background-color: whitesmoke; }
